.span12
  #bp-table
    = will_paginate @pictures

    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th Title
          %th Description
          %th Thumbnail
          %th Exif
          %th Location
          %th Action
      %tbody
        - @pictures.each do |picture|
          %tr[picture]
            %td= picture.title
            %td= picture.description
            %td
              %a{:href=>"#", :rel=>"popover", :data=>{:content => "#{image_tag picture.captured_image.url(:medium)}", "original-title" => "Captured Object", :trigger => 'hover'}}
                %i.icon-picture
            %td
              %a{:href=>"#", :rel=>"popover", :data=>{:content => picture.exif.instance_variable_get(:@values).to_json.gsub(/,/,'</br>').html_safe, "original-title" => "Exif Data", :trigger => 'hover'}}
                %i.icon-paper-clip
            %td
              %a{:href=>"#", :rel=>"popover", :data=>{:content => "#{image_tag picture.map_url}", "original-title" => "Location", :trigger => 'hover'}}
                %i.icon-map-marker
            %td
              .btn-group
                %button.btn.btn-mini.dropdown-toggle{:data => {:toggle => "dropdown"}}
                  Action
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_picture_path(picture), :remote => :true
                  %li= link_to "<i class='icon-trash'></i> Delete".html_safe, picture_path(picture), :method => :delete, :confirm => "Are you sure?"

    =link_to "Upload new Image", new_picture_path, :class => "btn btn-primary", :remote => true


.modal.hide.fade#modal-form
  .modal-header
    / %button.close{:type => "button", "aria-hidden" => "true", :data => {:dismiss => "modal"} } &times;
    %h3
  .modal-body
  / .modal-footer